@import "~bulma/sass/utilities/initial-variables"

$hitforsix-red: #B90E0C
$hitforsix-red-invert: #fff

$primary: $hitforsix-red
$primary-invert: $hitforsix-red-invert
$link: $hitforsix-red
$info: $cyan
$success: $green
$warning: $yellow
$danger: $hitforsix-red
$dark: $grey-darker
$text: $grey-dark	

$family-sans-serif: "Inter",BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif
$weight-bold: 900
$title-weight: $weight-bold

.navbar-item .icon
  width: auto
  height: 1.5rem
.navbar-brand .navbar-item.logo
  padding: 0 1rem

.is-caps
  text-transform: uppercase
  letter-spacing: 0.05rem

.tag.is-episode-tag
  font-size: 0.6rem
  margin-top: 0.25rem
  padding-bottom: 0
  font-weight: $weight-semibold

.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left
.social
  padding: 2em
.social a
  padding: .5em .5em .3em .5em
  border-radius: 1em
  background-color: $white-ter
  margin: .5em
  width: 1em
  height: 1em
  vertical-align: middle
  display: inline

@import "~bulma"
